<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./js/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 1. 我们要监听到文本框数据的改变，这样才知道，什么时候去拼接出一个fullname -->
        <!-- 2. 如何监听到文本框的数据改变？ -->
        <input type="text" v-model="firstname" @keyup="getFullName()">+
        <input type="text" v-model="lastname" @keyup="getFullName()">=
        <input type="text" v-model="fullname">
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            firstname: '',
            lastname: '',
            fullname: ''
        },
        methods: {
            getFullName(){
                this.fullname = this.firstname + this.lastname
            }
        }
    })
</script>
</html>