<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./js/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="firstname">+
        <input type="text" v-model="lastname">=
        <input type="text" v-model="fullname">
    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            firstname: '',
            lastname: '',
            fullname: ''
        },
        methods: {
            
        },
        watch: { // 使用这个 属性，可以监听 data 中指定数据的变化，然后触发这个 watch 中对应的functon 处理函数
            'firstname': function(newVal, oldVal){
                // this.fullname = this.firstname + this.lastname
                // console.log(newVal, oldVal)
                this.fullname = newVal + this.lastname
            },
            'lastname': function(){
                this.fullname = this.firstname + this.lastname
            }
        }
    })
</script>
</html>